<!-- MENU DE OPERACIONES -->
  <div class="container">

		
    <a class="toggleMenu" href="#">Menu</a>
      <ul class="nav">
      	
        <li><a href="{{path('donante')}}">Donantes</a>
        </li>
        <li><a href="{{path('pedido')}}">Pedidos</a>
        <li><a href="{{path('entidadreceptora')}}">Entidades Receptoras</a>
        </li>
        <li><a href="{{path('alimento')}}">Alimentos</a>
        </li>
        <li><a href="{{path('user')}}">Usuarios</a> 
        </li>
		
        <li><a href="{{path('impresion_grafico_barra')}}">Entregas Por Fecha</a>
        </li>
        <li><a href="{{path('impresion_grafico_circular')}}">Entregas A Entidades</a>
        </li>
        <li><a href="{{path('impresion_vencidos')}}">Alimentos Vencidos</a>
        </li>
		
        <li><a href="{{path('configuracion')}}">Configuración</a> 
        </li>
		
      </ul>

	  
  </div> 