{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PedidoModelo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Conenvio</th>
                <td>{{ entity.conEnvio }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pedidomodelo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pedidomodelo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
