
    <script src="{{ asset('js/jquery.min.js') }}"></script><!--jquery-->
    <script src="{{ asset('js/jquery-ui.js') }}"></script><!--jquery UI (en este caso es la API que nos permite abrir EL DIALOGO PARA DESCARGAR EL ARCHIVO-->

    <script src="{{ asset('js/highcharts.js') }}"></script><!--highcharts-->
    <script src="{{ asset('js/exporting.js') }}"></script><!--plugin de exportación de highcharts-->

    <script src="{{ asset('js/canvg.js') }}"></script><!--para exportar un SVG a imagen raster-->
    <script src="{{ asset('js/rgbcolor.js') }}"></script><!--idem anterior-->

    <script src="{{ asset('js/jsPDF-master/dist/jspdf.min.js') }}"></script><!--jsPDF y sus plugins-->
    <script src="{{ asset('js/jsPDF-master/jspdf.plugin.addimage.js') }}"></script>
    <script src="{{ asset('js/jsPDF-master/jspdf.plugin.standard_fonts_metrics.js') }}"></script>
    <script src="{{ asset('js/jsPDF-master/jspdf.plugin.split_text_to_size.js') }}"></script>
    <script src="{{ asset('js/jsPDF-master/jspdf.plugin.from_html.js') }}"></script>
	<!-- <script src="http://www.highcharts.com/js/themes/dark-unica.js"></script> -->
	
	<link rel="stylesheet" href="{{ asset('jquery-ui.css') }}" > <!-- estilo para el datepicker -->
	<script>
			$(function() {
				$( "#datepicker1" ).datepicker({ dateFormat: "yy-mm-dd" });	
				$( "#datepicker2" ).datepicker({ dateFormat: "yy-mm-dd" });				
			});
	</script>	

    <script type='text/javascript'>//<![CDATA[

      svgToImg = function (svgCode, width, height) {
        var canvas = document.createElement('canvas');                          //creamos un canvas (HTML5)
        canvas.setAttribute('width', width);                                    //establecemos su alto y ancho
        canvas.setAttribute('height', height);
        if (canvas.getContext && canvas.getContext('2d')) {                     //si se puede inicializar el contexto para el canvas
          var context = canvas.getContext('2d');                                //creamos un nuevo contexto
          context.drawSvg(svgCode, 0, 0, width, height);                        //y dibujamos el SVG (la función drawSvg es proporcionada por la librería canvg
          return canvas.toDataURL("image/jpeg");
        } else {
          return null;
        }
      };

      makePDF = function () {
        var pdf = new jsPDF('p', 'pt', 'letter');
        var origen = $('#pagina')[0];                                           // obtengo el elemento DOM del tag con ID="pagina" (para eso se usa el índice 0)
        var margenes = {top: 40, bottom: 40, left: 40, width: 740};

        var specialElementHandlers = {};                                        //jsPDF me permite crear controladores especiales para tratar ciertos elementos de una forma en particular. Los represento con un objeto JSON.
        //handlers para highchats
        $('.graficoHighCharts').each(function () {                              //En este caso estos controladores especiales harán que para cada elemento de la clase graficoHighCharts se cree una imagen que sustituya al SVG.
          var id = ($(this).attr('id'));
          specialElementHandlers["#" + id ] = function (element, renderer) {    //agrego cada handler al JSON (una callback!)
            var svg = $(element).children('.highcharts-container').html();      //esto es un hack que simula la función getSVG() de highcharts (usen el explorador DOM para ver qué contiene el gráfico renderizado)
            var img = {};                                                       //normalmente la dimensión que restringirá a nuestra imagen es el ancho. Por esto calculamos el mínimo ancho entre la página y el elemento.
            img.x = element.scrollLeft;
            img.y = element.offsetTop;
            img.ancho = Math.min(renderer.settings.width - renderer.x, element.scrollWidth);
            img.aspecto = element.scrollHeight / element.scrollWidth;
            img.alto = img.aspecto * img.ancho;                                 //calculamos el alto
            img.datos = svgToImg(svg, img.ancho, img.alto);//exportamos la imagen
            renderer.pdf.addImage(img.datos, 'JPEG', img.x + renderer.x, renderer.y);//agregamos la imagen
            renderer.y += img.y;//normalmente los renderers son como "dibujantes" que se desplazan desde arriba hacia abajo. Dado que acabamos de agregar un elemento personalizado, debemos actualizar la posición del cursor.
            return true;//notifica a jsPDF que el elemento se ha sustituído correctamente (no se renderizará el elemento original :) )
          }
        });

        pdf.fromHTML(origen, margenes.left, margenes.top, {'width': margenes.width, 'elementHandlers': specialElementHandlers},
        function (dispose) {
          pdf.save(document.title + '.pdf');
        }, margenes);
      }


      $(function () {

    	  new Highcharts.Chart({
              chart: {renderTo: 'graficoHighCharts1', type:'column', options3d: {
                    enabled: true,
                    alpha: 15,
                    beta: 15,
                    depth: 50,
                    viewDistance: 25
                }},
              title: {text: 'Kilos de pedidos entregados por fecha'},
    		  tooltip: { enabled: false },
    		  plotOptions: {column: { depth: 25 } },
             //{# xAxis: {categories: [{% for pedido in pedidos %}'{{pedido.fecha}}',{% endfor %}]},    #} //linea original! descomentar dsps 
    		  xAxis: {categories: ['17-02-2014','15-06-2014']},
			  yAxis: {
    				min: 0,
    				title: {
    					text: 'Cantidad en kilogramos'
    				}
    			},
    			
              // {# series: [{data: [{% for pedido in pedidos %}{{pedido.cant}},{% endfor %}], name:"Entregas",}]  #} //linea original!
			  series: [{data: [23,56], name:"Entregas",}]
    		  
            });

         
		
        $('#exportar_pdf').click(function () {
          makePDF();
        });

      });
//]]>
    </script>

    <div class="estadisticas">
      <br>
 	<form action="index.php?controller=PedidosController&action=graficoBarraConFechas" method="post" >
				
		Fecha de inicio: <input type="text" id="datepicker1" name="fecha1" required >	
		Fecha de fin: <input type="text" id="datepicker2" name="fecha2" required >
		
	  <input type="submit" value="Ver!">
	  
	</form>
	
	<div id="pagina">
      <div id="graficoHighCharts1" class="graficoHighCharts" style="width:70%; margin-left:15%;"></div>
      <br>
		<table class="tablaEstiloGlass">
			<tr>
			<th>Fecha</th>
			<th>Cantidad</th>
			</tr>
			{# {% for dato in pedidos %}
				<tr>
				<td>{{ dato.fecha }}</td>
				<td>{{ dato.cant }}Kg.</td>
				</tr>
			{% endfor %}
			#}
		</table>
		
      <!-- <div id="graficoHighCharts2" class="graficoHighCharts" style="height: 200px"></div> -->
     
    </div>
	<br>
    <button id="exportar_pdf">Exportar a pdf</button>
    
    </div>
  </body>

</html>