{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EntidadReceptora</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Razonsocial</th>
                <td>{{ entity.razonSocial }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ entity.domicilio }}</td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td>{{ entity.latitud }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ entity.longitud }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('entidadreceptora') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('entidadreceptora_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
